.nav{
    font-size: 3rem;
    font-family: fantasy;
   
    padding: 30px;
    box-shadow: 0 4px 6px rgba(12, 99, 61, 0.5);
    color: rgb(236, 232, 211);
    background-color: rgba(22, 153, 62, 0.951);
}